node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
build
FRONTEND/react-dist

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage

.npm
.yarn

.node_repl_history

*.tgz

.yarn-integrity

.vscode
.idea
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.git
.gitignore
README.md

Dockerfile
docker-compose.yml
.dockerignore
